h1 {
	font-family: 'Courier New', monospace;
	color: white;
	text-align: center;
}

.searchbox {
	display: flex;
	flex-wrap: flex;
	justify-content: center;
	margin-bottom: 1em;
}

.searchbox input {
	border: none;
	border-radius: 5px;
	padding: 1em;
	background-color: lightskyblue;
}

